body{
    background-color: beige;
}
.heading-container{
    text-align: center;
}
h1{
    font-size: 30px;
    font-family: monospace;
}
.cal-container{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}
#calWrap{
    display: inline-block;
    max-width: 500px;
    width: 100%;
    background-color: black;
    margin: 0 auto;
}
.result-box{
    height: 80px;
    width: 100%;
    background-color: cadetblue;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: right;
    border: 3px solid #000;
    font-size: 40px;
    line-height: 70px;
    font-family: system-ui;
}

.keys-wrapper{
    display: flex;
    flex-direction: column;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}
.row{
    display: flex;
    background-color: black;
}
.child2 button:first-child{
    flex-grow: 2;
}
.child3 button:first-child{
    flex-grow: 3;
}
.child4 button{
    flex-grow: 1;
}
button{
    height: 80px;
    font-size: 32px;
    border: none;
    width: 24.5%;
    justify-content: space-between;
    background-color: #eee;
    margin: 0.3% 0.25%;
    transition: 0.2s ease-in;
    font-weight: bold;
}
button:hover{
    background-color: #c7c6c6;
}
button:active,button:focus{
    background-color: #c1bfbf;
}

.row button:last-child{
    background-color: #D3873C;
    border-right :none;
}